/*@import "tailwindcss";*/

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font:over;

  --small:0.8rem;
  --normal:1rem;
  --medium:1.4rem;
  --large:1.8rem;

}

@font-face {
  font-family: over;
  src: url(../../public/fonts/Overpass-VariableFont_wght.ttf);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  border:none;
  padding:0;
  margin:0;
  font-size:var(--normal);
  font-weight:300;
}

html{
  scroll-behavior: smooth;
}

header{
   position: sticky;
  top:0px;
  z-index:5;
  background-color: #000000;
}

.menu-bar{
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
 
}

.menu-logo{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  gap:5px;
  font-weight: 600;
}


.search{
  background-color: #303030;
  border:none;
  border-radius: 5px;
  height:30px;
  width:200px;
  padding-inline:10px;
  font-family: var(--font);
  color:#ffffff;
  outline:none;
}

.search:focus{
  outline: solid 4px rgba(255,255,255,0.4) ;
  outline-offset: 0px;
}

.page{
  padding:50px;
}

.section-title{
  font-size:var(--medium);
  font-weight: 600;
  color:#999999;
  background-color: rgba(0,0,0,0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position:sticky;
  top:50px;
  padding-block:20px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:15px;
  z-index:5;
  line-height: var(--medium);
}

.message{
  font-size:var(--small);
  text-align: center;
  padding:5px;
}

.movies-wrapper{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px;
  max-width:1000px;
  margin:auto;
}

.movie-wrapper{
  border:solid 1px #202020;
  border-radius: 10px;
  transition:all 0.2s ease-in-out;
}

.movie-wrapper:hover{
  transform:translate(0px,-5px);
}

.movie-poster{
  aspect-ratio: 2/3;
  width:100%;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}

.movie-content{
  padding-inline:20px;
}

.movie-title{
  font-size:var(--medium);
  font-weight:600;
}

.movie-description{
  color:#999999;
}


@media screen and (min-width:531px) and (max-width: 800px){

  .page{
    padding:20px;
  }
  .movies-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (max-width: 530px){

 .page{
    padding:20px;
  }

  .movies-wrapper{
    grid-template-columns: 1fr;
  }
}



