# ---- General ----
HELP.md
*.log
*.tmp
*.swp
.DS_Store

# ---- Maven / Java (backend) ----
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ---- STS ----
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ---- IntelliJ IDEA ----
.idea
*.iws
*.iml
*.ipr

# ---- NetBeans ----
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ---- VS Code ----
.vscode/

# ---- Node (frontend) ----
node_modules/
npm-debug.log
yarn-error.log
.env
.env.*      # all environment files
.next/      # Next.js build output
out/        # Next.js static export folder
dist/       # frontend dist builds (if applicable)

# ---- OS files ----
Thumbs.db
